SHOP_DEBUG=true

# Nacos 配置中心连接
SHOP_NACOS_HOST=127.0.0.1
SHOP_NACOS_PORT=8848
# 命名空间 ID
SHOP_NACOS_NAMESPACE_USERS=b5eb241f-0108-41bd-acac-ae63e1d191ae
SHOP_NACOS_NAMESPACE_GOODS=c7ad7161-42ec-4bf7-8b4f-afcd3ae58823
SHOP_NACOS_NAMESPACE_INVENTORY=801785a0-5efb-496a-9f6c-c1d7778f9642
SHOP_NACOS_NAMESPACE_USEROP=0d25e9b8-5908-43fe-81d1-2dff16b1ca8f
SHOP_NACOS_NAMESPACE_ORDER=29e20acc-22d4-4c96-b552-f8751d32e82b
SHOP_NACOS_USERNAME=nacos
SHOP_NACOS_PASSWORD=nacos

SHOP_ALIYUN_SMS_REGION_ID=ap-southeast-1
SHOP_ALIYUN_SMS_ACCESS_KEY_ID=
SHOP_ALIYUN_SMS_ACCESS_KEY_SECRET=
SHOP_ALIYUN_SMS_SIGN_NAME=恒创联众
SHOP_ALIYUN_SMS_TEMPLATE_CODE=100001

# Redis: docker-compose 宿主机端口为 16379，覆盖 Nacos 里的 6379
SHOP_REDIS_PORT=16379
