version: "3.8"

services:
  yapi:
    image: jayfong/yapi:latest
    container_name: yapi
    environment:
      - YAPI_ADMIN_ACCOUNT=admin@admin.com
      - YAPI_ADMIN_PASSWORD=admin123
      - YAPI_DB_SERVERNAME=mongo
      - YAPI_DB_PORT=27017
      - YAPI_DB_DATABASE=yapi
      - YAPI_DB_USER=
      - YAPI_DB_PASS=
      - YAPI_MAIL_ENABLE=false
      - YAPI_LDAP_LOGIN_ENABLE=false
      - YAPI_CLOSE_REGISTER=true
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:4.4
    container_name: yapi-mongo
    restart: always
    volumes:
      - mongo-data:/data/db

  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root123456
      - MYSQL_DATABASE=shop_user_srv
      - MYSQL_USER=shop_user
      - MYSQL_PASSWORD=shop123456
    ports:
      - "3306:3306"
    restart: always
    volumes:
      - mysql-data:/var/lib/mysql

  redis:
    image: redis:6.2-alpine
    container_name: redis
    ports:
      - "6379:6379"
    restart: always
    volumes:
      - redis-data:/data

  consul:
    image: hashicorp/consul:1.17
    container_name: consul
    command: agent -dev -client=0.0.0.0 -ui
    ports:
      - "8500:8500"  # HTTP API & UI
      - "8300:8300"    # Server RPC
      - "8301:8301"    # Serf LAN (TCP)
      - "8301:8301/udp"# Serf LAN (UDP)
      - "8302:8302"    # Serf WAN (TCP)
      - "8302:8302/udp"# Serf WAN (UDP)
      - "8600:8600/tcp" # DNS (TCP)
      - "8600:8600/udp" # DNS (UDP)
    restart: always
    volumes:
      - consul-data:/consul/data

volumes:
  mongo-data:
  mysql-data:
  redis-data:
  consul-data: