go 1.26.5

use (
	./pkg
	./services/goods_srv
	./services/goods_web
	./services/inventory_srv
	./services/order_srv
	./services/order_web
	./services/user_srv
	./services/user_web
	./services/userop_srv
)
